<a href="https://colab.research.google.com/github/Mashrur001/CSE110/blob/main/ASSIGNMENT_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task 1

def even_checker(num):
  if num%2==0:
    print('Even')
  else:
    print('Odd')
even_checker(5)

Odd

In [ ]:
#Task 2
def fibonacci(limit):
  a=0
  b=1
  c=0
  while c < limit:
    print(c,end=' ')
    a=b
    b=c
    c=a+b
fibonacci(10)

0 1 1 2 3 5 8

In [ ]:
#Task 3
def foo_moo(num):
    if num % 3 ==0 and num % 5 ==0:
        print('FooMoo')
    elif num % 3==0:
        print('Foo')
    elif num % 5==0:
        print('Moo')
    else:
        print('Boo')
foo_moo(5)
foo_moo(3)
foo_moo(15)
foo_moo(2)

Moo
Foo
FooMoo
Boo

In [ ]:
#Task 4 (1) (******)
def function_name(x):
    c=''
    lower=0
    upper=0
    for i in x:
       if i != ' ':
          c+=i
    for i in c :
       if 97 <= ord(i) <= 122:
           lower+=1
       else:
           upper+=1
    print('No. of Uppercase characters: ',upper)
    print('No. of Lowercase characters: ',lower)
x=input('Input: ')
function_name(x)

Input: The quic Sand Man
No. of Uppercase characters:  3
No. of Lowercase characters:  11

In [ ]:
#Task 4 (2)
def function_name(x):
    c=''
    lower=0
    upper=0
    for i in x:
       if i != ' ':
          c+=i
    for i in c :
       if i.islower():
           lower+=1
       else:
           upper+=1
    print('No of upper_case: ',upper)
    print('No of lower_case: ',lower)
x=input('Input: ')
function_name(x)

Input: The quixk Sand Man
No of upper_case:  3
No of lower_case:  12

In [ ]:
#Task 5
def calculate_tax(age,salary,desig):
  if age < 18 or salary < 10000 or desig == 'president':
    tax=0
  elif salary < 10000 and salary >20000:
    tax= salary*5/100
  elif salary >20000:
    tax=salary*10/100
  return tax
age=int(input('Enter your age: '))
salary=float(input('Enter your salary: '))
desig=input('Enter your Designation: ')
print(calculate_tax(age,salary,desig))

In [ ]:
#Task 6
def  number_of_days(x):
   year=x//365
   r_y=x%365
   month=r_y//30
   r_m=r_y%30
   day=r_m
   print('{} years, {} months and {} days'.format(year,month,day))
f=int(input())
number_of_days(f)

4330
11 years, 10 months and 15 days

In [ ]:
#Task 7 (Prob)
def show_palindrome(x):
  add=''
  add1=''
  for i in range(1,x+1):
    add+=str(i)
  add1=add[-2::-1]
  print(add,end='')
  print(add1)
show_palindrome(5)

123454321

In [ ]:
#Task 7  (****)
def show_palindrome(x):
  add=''
  add1=''
  for i in range(1,x+1):
    add+=str(i)
  add1=add[-1::-1]
  add2=add+add1
  return add2
c=int(input('Enter your number here: '))
print(show_palindrome(c))

Enter your number here: 5
1234554321

In [ ]:
#Task 8
def show_palindromic_triangle(row):
  for row_count in range(1,row+1):
    for space_count in range(1,(row-row_count)+1):
      print(' ',end=' ')
    for column_count in range(1,row_count+1):
      print(column_count,end=' ')
    for column_count in range(row_count-1,0,-1):
      print(column_count,end=' ')
    print()
a_row=int(input())
show_palindromic_triangle(a_row)

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#Task 8  (***)

def show_palindromic_triangle(x):
  x += 1
  for i in range(x):
    print(" " * 2 * (x - i - 1), end = "")
    for j in range(1, i):
      print(j, end = " ")

    for j in range(i, 0, -1):
      print(j, end = " ")
    print()

show_palindromic_triangle(5)

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#Task 8

def show_palindrome(num):
  string = ""
  for i in range(1, num):
    string += str(i)
  for i in range(num, 0, -1):
    string += str(i)

  return string

def show_palindromic_triangle(height):
  for i in range(1, height + 1):
    print(" " * (height - i) + show_palindrome(i))

show_palindromic_triangle(5)

    1
   121
  12321
 1234321
123454321

In [ ]:
#Task 9 (Prob)
def area_circumference_generator(radius):
  import math
  area=math.pi*radius**2
  circumference=2*math.pi*radius
  a_tuple=(area,circumference)
  print(a_tuple)
  print('Area of the circle is {} and circumference is {}'.format(area,circumference))

area_circumference_generator(1.5)

(7.0685834705770345, 9.42477796076938)
Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938

In [ ]:
#Task 9

def area_circumference_generator(radius):
  import math
  area=math.pi*radius**2
  circumference=2*math.pi*radius
  return circumference , area
  circumference , area = store
#print("Area of the circle is {} and circumference is {}".format(circumference, area))
print("Area of the circle is {} and circumference is {}".format(circumference, area))
print(area_circumference_generator(1))

Area of the circle is 6.283185307179586 and circumference is 3.141592653589793
(6.283185307179586, 3.141592653589793)

In [ ]:
#Task 9 (***)
import math
def area_circumference_generator(radius):
  circumference = 2 * math.pi * radius
  area = math.pi * (radius ** 2)

  return circumference, area

store = area_circumference_generator(1)
#print(type(store))
circumference, area = store

print("Area of the circle is {} and circumference is {}".format(circumference, area))

Area of the circle is 6.283185307179586 and circumference is 3.141592653589793

In [ ]:
#Task 10
def make_square(a_tuple):
  i,j=a_tuple
  a_dict={}
  for c in range(i,j+1):
      b=c**2
      a_dict[c]=b
  return a_dict
print(make_square((5,9)))

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#Task 11
def rem_duplicate(a_tuple):
  a_list=[]
  for i in a_tuple:
    if i not in a_list:
      a_list.append(i)
      c=tuple(a_list)
  print(c)
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))
rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))

(1, 2, 3, 4, 5, 6, 0)
('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#Task 11 (***) (***)
def rem_duplicate(a_tuple):
  a_list=[]
  for i in a_tuple:
    if i not in a_list:
      a_list.append(i)
      c=tuple(a_list)
  return c
print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#Task 11 (***)
def rem_duplicate(a_tuple):
  a_list=[]
  for i in a_tuple:
    if i not in a_list:
      a_list.append(i)
      c=tuple(a_list)
  return c
result=rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))
print(result)

In [ ]:
#Task 12(***)
def function_name(element):
  alist=[]
  c=0
  for i in element:
    if alist.count(i) < 2:
      alist.append(i)
    else:
      c+=1
  print('Removed: ',c)
  return alist
result = function_name(([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))
print(result)

Removed:  2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#Task 13
def calculation(operand,first,second):
    if operand == '+':
       operation=first+second
    elif operand == '-':
         operation=first-second
    elif operand=='*':
         operation=first*second
    elif operand=='/':
         operation=first/second
    print(operation)

operand=input('Enter your operators here: ')
first=float(input('Enter your first number here: '))
second=float(input('Enter your second number here: '))
calculation(operand,first,second)

Enter your operators here: /
Enter your first number here: 40
Enter your second number here: 20
2.0

In [ ]:
#Task 13 (***)
def calculation(operand,first,second):
    if operand == '+':
       operation=first+second
    elif operand == '-':
         operation=first-second
    elif operand=='*':
         operation=first*second
    elif operand=='/':
         operation=first/second
    return operation

operand=input('Enter your operators here: ')
first=float(input('Enter your first number here: '))
second=float(input('Enter your second number here: '))
result = calculation(operand,first,second)
print(result)

Enter your operators here: /
Enter your first number here: 40
Enter your second number here: 20
2.0

In [ ]:
#Task 14 (****)
def funcrion_name(sentence,position):
    add1=''
    add2=''
    for i in range(len(sentence)):
        if i ==0:
            add1+=sentence[i]
        elif i % position !=0:
            add1+=sentence[i]
        else:
            add2+=sentence[i]
    return add1+add2

sentence=input()
position=int(input())
result=funcrion_name(sentence,position)
print(result)

I love programming.
3
I lveprgrmmngo oai.

In [ ]:
#Task 15 (****)
def function_name(order_items,location='Dhanmondi'):
    dict1={'"Rice"':105,'"Potato"':20,'"Chicken"':250,'"Beef"':510,'"Oil"':85}
    dict2={}
    sum=0
    for keys, values in dict1.items():
        for i in order_items:
            if i in keys:
                dict2[keys]=values
                sum+=values
    if location == 'Dhanmondi' or location=='':
       sum=sum+30
    else:
        sum=sum+70
    return sum

order_items=list(input('Enter your list here: ')[1:-1].split(','))
location=input('Enter your location here: ')
result=function_name(order_items,location)
print(result)

Enter your list here: 'Rice','Beef',''Rice
Enter your location here: Mohakhali
70

In [ ]:
#Task 15 (Pranjol)

def function_name(order_items, location = "Dhanmondi"):
    menu = {"Rice" : 105, "Potato" : 20, "Chicken" : 250, "Beef" : 510, "Oil" : 85}
    total_price = 0
    for i in order_items:
        if i in menu.keys():
            total_price += menu[i]

    if location == "Dhanmondi":
        total_price += 30
    else:
        total_price += 70

    return total_price

order = [i.strip(" ").strip('"') for i in input("Enter your order items: ")[1 : -1].split(",")]
print(function_name(order))

Enter your order items: Rice,Beef,Rice
540

In [ ]:
#Task 15
def function_name(order_items,location='Dhanmondi'):
    dict1={"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
    dict2={}
    sum=0
    for keys, values in dict1.items():
        for i in order_items:
            if i in keys:
                dict2[keys]=values
                sum+=values
    if location == 'Dhanmondi':
       sum=sum+30
    else:
        sum=sum+70
    print(dict2)
    print(sum)

function_name(["Rice", "Beef", "Rice"], "Mohakhali")
function_name(["Rice", "Beef", "Rice"])

{'Rice': 105, 'Beef': 510}
790
{'Rice': 105, 'Beef': 510}
750

In [ ]:
#Task 16

def splitting_money(amount):
    notes = [500, 100, 50, 20, 10, 5, 2, 1]
    retString = ""
    noteCount = 0

    for i in notes:
        if amount == 0:
            break
        noteCount = amount // i

        if noteCount == 0:
            continue

        amount %= i
        retString += "{} Taka: {} note(s)\n".format(i, noteCount)

    return retString

amount = int(input("Enter the amount of money: "))
store = splitting_money(amount)
print(store)

In [ ]:
#Task 17

def remove_odd(mix):
    even = []
    for i in mix:
        if i % 2 == 0:
            even.append(i)

    return even

store = remove_odd ([11,2,3,4,5,2,0,5,3])
print(store)

In [ ]:
#Task 18

"""
starting value(inclusive)
● ending value(exclusive)
● first divisor
● second divisor
"""

def function_name(s_value, e_value, f_divisor, s_divisor):
    sum = 0

    for i in range(s_value, e_value):
        if i % f_divisor == 0 and i % s_divisor == 0:
            pass
        elif i % f_divisor == 0 or i % s_divisor == 0:
            sum += i

    return sum

s_value = int(input("Enter your starting value: "))
e_value = int(input("Enter your ending value: "))
f_divisor = int(input("Enter the first divisor: "))
s_divisor = int(input("Enter the second divisor: "))

print(function_name(s_value, e_value, f_divisor, s_divisor))

Enter your starting value: 10
Enter your ending value: 40
Enter the first divisor: 4
Enter the second divisor: 7
210

In [ ]:
#Task 19

def function_name(string):
    result = 0
    flag = True
    for i in range(ord('a'), ord('j')):
        if chr(i) not in string:
            flag = False
            break
    if flag == True:
        result = 5
    else:
        result = 6


    return result

string = input("Enter your string: ")
result = function_name(string)
print("PSG will win the Champions League this season\n" * result)

In [ ]:
#Task 20

"""
● The player name
● Yearly earning of that player
● The total goal scored this season by that player
● Bonus percent per goal.
"""

def individul_bonus_calculation(name, earning, goal, bonus_per):
    total_bonus = goal * (bonus_per / 100) * earning
    if 20 <= goal <= 30:
        total_bonus += 5000
    if goal > 30:
        total_bonus += 10000

    if total_bonus - int(total_bonus) == 0:
        total_bonus = int(total_bonus)

    print("{} earned a bonus of {} Taka for {} goals.".format(name, total_bonus, goal))

individul_bonus_calculation('Luis', 80000, 25, 10)

In [ ]:
#Task 21

def cal_bonus(*args):

    total_cases = tuple(args[i : i + 4] for i in range(0, len(args), 4))
    for i in total_cases:
        name, earning, goal, bonus_per = i

        total_bonus = goal * (bonus_per / 100) * earning
        if 20 <= goal <= 30:
            total_bonus += 5000
        if goal > 30:
            total_bonus += 10000

        if total_bonus - int(total_bonus) == 0:
            total_bonus = int(total_bonus)
        print("{} earned a bonus of {} Taka for {} goals.".format(name, total_bonus, goal))



cal_bonus("Neymar", 1200000, 35, 5, 'Jamal', 700000, 19, 8, 'Luis', 80000, 25, 10)
    #print("{} earned a bonus of {} Taka for {} goals.".format(name, total_bonus, goal))

 Task 8,9,15

In [ ]:
# Task 9 (***)
def area_circumference_generator(radius):
  import math
  circumference = 2*math.pi*radius
  area= math.pi*radius**2
  return (area,circumference)
a=area_circumference_generator(1)
print(a)
area,circumference=a
print("Area of the circle is {} and circumference is {}".format(area,circumference))

(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
def function_name(x):
     alist=[]
     adict={}
     c=''
     for i in x:
      if i !=' ':
         c+=i
         for i in range(len(c)):
            if c[i] not in alist:
               alist.append(i)
            else:
               alist.append(i)
         for f in range(len(alist)):
             adict[c[i]]=alist[i]
         return adict
function_name('this is my first semester')

{'t': 0}