<a href="https://colab.research.google.com/github/Mashrur001/CSE110/blob/main/ASSIGNMENT_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task01
lst = []
for i in range(5):
    ele = int(input())
    lst.append(ele)
    print(lst)

3
[3]
5
[3, 5]
34
[3, 5, 34]
-11
[3, 5, 34, -11]
0
[3, 5, 34, -11, 0]

In [ ]:
#Task02
lst_1=input().split(", ")
if len(lst_1)<4:
  print("Not possible")

else:
  #lst_2=lst_1[2:len(lst_1)-2]
  lst_2=lst_1[2:-2]
  print(lst_2)

10, 20, 24, 25, 26, 35, 70
['24', '25', '26']

In [ ]:
#Task02
lst_1=input().split(",")
print(lst_1)

10, 20, 24, 25, 26, 35, 70
['10', ' 20', ' 24', ' 25', ' 26', ' 35', ' 70']

In [ ]:
#Task03
lst=[]
for i in range(5):
  n=int(input())
  lst.append(n)
  print(lst)
for i in range(len(lst)-1,-1,-1):
  print("Printing values from the list in reverse order:",lst[i])

1
[1]
2
[1, 2]
3
[1, 2, 3]
4
[1, 2, 3, 4]
5
[1, 2, 3, 4, 5]
Printing values from the list in reverse order: 5
Printing values from the list in reverse order: 4
Printing values from the list in reverse order: 3
Printing values from the list in reverse order: 2
Printing values from the list in reverse order: 1

In [ ]:
#Task04
lst=[1, 2, 3, 4, 5, 6, 7]
my_lst=[]
for i in lst:
  my_lst.append(i**2)
print(my_lst)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Task5
given_lst=["hey", "there", "", "what's", "", "up", "", "?"]
print(f"orginal lst:{given_lst}")
lst=[]
for i in given_lst:
  if i=="":
    continue
  else:
    lst.append(i)
    print(lst)
print(f"lst:{lst}")

orginal lst:['hey', 'there', '', "what's", '', 'up', '', '?']
['hey']
['hey', 'there']
['hey', 'there', "what's"]
['hey', 'there', "what's", 'up']
['hey', 'there', "what's", 'up', '?']
lst:['hey', 'there', "what's", 'up', '?']

In [ ]:
#Task5(related)
lst=["hey", "there", "", "what's", "", "up", "", "?"]
new_lst =' '.join(lst).split()
print(new_lst)

['hey', 'there', "what's", 'up', '?']

In [ ]:
#Task6
n=input().split(",")
n_lst=[]
for i in n:
  n_lst.append(int(i))
max = n_lst[0]
max_idx = 0
for i in range(len(n_lst)):
    if n_lst[i]>max:
      max=n_lst[i]
      max_idx = i
print(n_lst)
print(f"Largest number in the list is {max} which was found at {max_idx}")

7, 13, 2, 10, 6, -11, 0
[7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at 1

In [ ]:
#Task07
lst_1= [1, 4, 7, 5]
lst_2= [6, 1, 3, 9]
final_lst=[]

for i in range(0,len(lst_1)+1,1):
  if i==len(lst_1)-1:
    lst_1.pop()
for i in lst_1:
  final_lst.append(i)
for i in lst_2:
  final_lst.append(i)
print(final_lst)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
#Task07
list1=[1, 4, 7, 5]
list2=[6, 1, 3, 9]
lst=[]
final_list=[]

#for i in list1:
lst=list1[0:-1]
#final_list.append(i)
final_list=lst+list2

print(lst)
print(final_list)

[1, 4, 7]
[1, 4, 7, 6, 1, 3, 9]

In [ ]:
#Task08
lst_1= [1, 2, 3, 4, 5, 6, 7, 8, 9]
lst_2= [10, 11, 12, -13, -14, -15, -16]
b=[]
for i in lst_1:
  if i%2==0:
    b.append(i)
for j in lst_2:
  if j%2==0:
    b.append(j)
print(b)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#Practise
player_list=['messi','ronaldo','neymar','bale',[1,2,3]]
#player_list[2]='haland'
#print(player_list)
#player_list.append('Ramos')
#print(player_list)
#player_list.extend(['pique','casiaas'])
#player_list.insert(3,'ramos')
#del player_list[3]
print(player_list)

['messi', 'ronaldo', 'neymar', 'bale', [1, 2, 3]]

In [ ]:
#Task09
n=input()
lst=[]
s=" "
for i in n:
  if i==" ":
    lst.append(int(s))
    s=" "
  else:
    s=s+i
print(f"Original List:{lst}")
lst1=[]
for i in lst:
  if i%2==1:
    lst1.append(i)
print(f"Modified list:{lst1}")

7 12 4 55 96 2 11 61 33 42
Original List:[7, 12, 4, 55, 96, 2, 11, 61, 33]
Modified list:[7, 55, 11, 61, 33]

In [ ]:
#Task10
n=input().split(",")
print(f"Input List:{n}")
lst=[]
for i in n:
  if i not in lst:
    lst.append(i)
print(f"Modified list: {lst}")

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input List:['0', ' 0', ' 1', ' 2', ' 3', ' 4', ' 4', ' 5', ' 6', ' 6', ' 6', ' 7', ' 8', ' 9', ' 4', ' 4']
Modified list: ['0', ' 0', ' 1', ' 2', ' 3', ' 4', ' 5', ' 6', ' 7', ' 8', ' 9']

In [ ]:
#Task11
list_one = [1, 4, 3, 2, 6]
list_two = [5, 6, 9, 8, 7]
flag=False
for i in list_one:
  if i in list_two:
    flag=True
    break
if flag==True:
  print("True")
else:
  print("False")

True