<a href="https://colab.research.google.com/github/Mashrur001/CSE110/blob/main/ASSIGNMENT_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lists**
List is a sequence of values called items or elements.

In [ ]:
#Creation

#A list is created by placing all the elements inside a square bracket [ ], separated by commas.
games = ['football', 'cricket']
print(games)

#can have mixed data types
name_age_cg = ['Harry', 23, 3.2, 'Ron', 24, 3.1]
print(name_age_cg)

#can be created with list constructor
brands = list(['BMW', 'PORSCHE', 'FORD'])
print(brands)

print(len(brands))

['football', 'cricket']
['Harry', 23, 3.2, 'Ron', 24, 3.1]
['BMW', 'PORSCHE', 'FORD']
3

In [ ]:
#Indexing & Accessing Items

#both positive and negative indexing
games = ['Football', 'Cricket', 'Badminton', 'BasketBall']
print(games[-1]) #last element
print(games[2])
#print(games[4]) #IndexError

BasketBall
Badminton

In [ ]:
#Mutability

games = ['Football', 'Cricket', 'Badminton', 'BasketBall']
print(games)

games[2]= 'Hockey'
print(games) #check the index 2 element

['Football', 'Cricket', 'Badminton', 'BasketBall']
['Football', 'Cricket', 'Hockey', 'BasketBall']

In [ ]:
#Adding items in list

series = ['Dark', 'Stranger Things', 'FRIENDS', 'Game of Thrones']
series.append('Sherlock') #append(value) function adds new items to the end of list
print(series)

series.insert(2, 'Breaking Bad') #insert(index, value) adds the element into specific index
print(series)

['Dark', 'Stranger Things', 'FRIENDS', 'Game of Thrones', 'Sherlock']
['Dark', 'Stranger Things', 'Breaking Bad', 'FRIENDS', 'Game of Thrones', 'Sherlock']

In [ ]:
#Removing items

#pop(index)
series = ['Dark', 'Stranger Things', 'FRIENDS', 'Game of Thrones']
series.pop(1) #removes specific index element
print(series)

#pop()
games = ['Football', 'Cricket', 'Badminton', 'BasketBall']
games.pop() #removes last element from a list
print(games)

#remove(value)
mobiles = ['OnePlus', 'iPhone', 'Samsung', 'HTC', 'Nokia', 'HTC']
mobiles.remove('HTC') #removes first occurrence of the specified value from left
print(mobiles)

#del keyword
del mobiles[0]
print(mobiles)
#del mobiles
#print(mobiles)

#clear()
mobiles.clear() #delete all elements
print(mobiles)
print(len(mobiles))

['Dark', 'FRIENDS', 'Game of Thrones']
['Football', 'Cricket', 'Badminton']
['OnePlus', 'iPhone', 'Samsung', 'Nokia', 'HTC']
['iPhone', 'Samsung', 'Nokia', 'HTC']
[]
0

In [ ]:
#Copy a list

series = ['Dark', 'Stranger Things', 'FRIENDS', 'Game of Thrones']

fav_series = series.copy() #crates a new list copying the value from specified list
print(fav_series)

['Dark', 'Stranger Things', 'FRIENDS', 'Game of Thrones']

In [ ]:
#Joining lists

#"+" operator
fantasy_series = ['Dark', 'Stranger Things']
sitcom = ['FRIENDS', 'HIMYM', 'The Office']
print(id(fantasy_series)) #memory loc
series = fantasy_series + sitcom  #a new list is created
print(series)
#fantasy_series += sitcom
#print(id(fantasy_series))
fantasy_series = fantasy_series + sitcom
print(id(fantasy_series))
#print(fantasy_series)

#extend(list) function
games = ['football', 'cricket']
indoor_games = ['chess', 'table tennis']
games.extend(indoor_games) #adding the list into the caller list
print(games)

139952610158592
['Dark', 'Stranger Things', 'FRIENDS', 'HIMYM', 'The Office']
139952610070080
['football', 'cricket', 'chess', 'table tennis']

In [ ]:
#List Slicing

series = ['Dark', 'Stranger Things', 'FRIENDS', 'Game of Thrones', 'Sherlock', 'The Big Bang Theory']
olpo_series = series[1:4] # a new list from the slice of old list
print(olpo_series)

print(series[:4])
print(series[-4:-1])

['Stranger Things', 'FRIENDS', 'Game of Thrones']
['Dark', 'Stranger Things', 'FRIENDS', 'Game of Thrones']
['FRIENDS', 'Game of Thrones', 'Sherlock']

In [ ]:
#List Functions

#sort()
ages = [30, 12, 76, 19]
ages.sort()
print(ages)

#reverse()
series = ['Dark', 'Stranger Things', 'FRIENDS', 'Game of Thrones']
series.reverse()
print(series)

#index(value)
series = ['Dark', 'Stranger Things', 'FRIENDS', 'Game of Thrones', 'Dark']
print(series.index('Dark'))#Returns integer index of first (leftmost) occurrence of value in the list

#count(value)
print(series.count('Dark')) #Returns integer count of number ofoccurrences of value in list

[12, 19, 30, 76]
['Game of Thrones', 'FRIENDS', 'Stranger Things', 'Dark']
0
2

In [ ]:
#Iterating a list

series = ['Dark', 'Stranger Things', 'FRIENDS', 'Game of Thrones']
for i in series:
    print(i, end =' ')

print('\n')

#range()
for idx in range(len(series)):
    print(series[idx], end = ' ') #idx = 0

Dark Stranger Things FRIENDS Game of Thrones

Dark Stranger Things FRIENDS Game of Thrones

In [ ]:
#Nested list

name_age_cg = [['Harry', 23, 3.1], ['Ron', 27, 2.4]]
#print(name_age_cg[0])
# print(name_age_cg[0][0])
# print(name_age_cg[0][1])
# print(name_age_cg[0][2])
#loop

for i in range(len(name_age_cg)):
    print(name_age_cg[i])
    for j in range(len(name_age_cg[i])):
        print(name_age_cg[i][j])
        #print(name_age_cg[i][j])

['Harry', 23, 3.1]
Harry
23
3.1
['Ron', 27, 2.4]
Ron
27
2.4

In [ ]:
#List comprehension:
#https://www.programiz.com/python-programming/list-comprehension

list1 = [1, 2, 3, 4, 5, 6]

squares = []
#using loop
for i in list1:
    squares.append(i*i)
print(squares)

#using list comprehension
#[expression => for loop => condition (if any)]
list2 = [i*i for i in list1] #[i*i for i in list1 if i%2 == 0]
print(list2)

[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36]

In [ ]:
#from list to string using .join()
items= ['I','am', 'a', 'CSE', 'Student']
#st = str(items)
st = ' '.join(items)
print(st)

I am a CSE Student

In [ ]:
#initalizing variable inside a Loop

name_list = (('Ted', 'HIMYM'), ('Ross', 'FRIENDS'), ('Chandler', 'FRIENDS'))
friends =[]
for items in name_list:
    print(items)
    #friends =[]  #Wrong
    if items[1] == 'FRIENDS':
        friends.append(items[0])

print(friends)

('Ted', 'HIMYM')
('Ross', 'FRIENDS')
('Chandler', 'FRIENDS')
['Chandler']

In [ ]:
#split() function

info = 'Harry Potter#197#23'
info_list = info.split('#')
info_list[2] = int(info_list[2])
print(info_list)

info2 = 'Harry Potter#197#23'
name, id, age = info2.split('#')
print(name, id, age)

['Harry Potter', '197', 23]
Harry Potter 197 23

# **Tuples**
A tuple is a collection of objects which is ordered and immutable.

In [ ]:
#Creation

empty = ()
print(empty)

#can have mixed data types
my_tup = ("CSE111", 3.9, [4,5,6], (1.1, 2.2)) #nested tuples
print(my_tup)

#tuple with a single element
single = 12345, #must put an comma after the element
print(single)

#tuple from a list
my_list = ['CSE', 'EEE']
my_tuple = tuple(my_list) #tuple(['CSE', 'EEE'])
print(my_tuple)

()
('CSE111', 3.9, [4, 5, 6], (1.1, 2.2))
(12345,)
('CSE', 'EEE')

In [ ]:
#Tuple packing & unpacking

courses = 'CSE111', 3.3, 'PHY111', 3.7 #Packing
print(courses)

course1, c1_grade, course2, c2_grade = courses #Unpacking
print(course1)
print(c1_grade)
print(course2)
print(c2_grade)

('CSE111', 3.3, 'PHY111', 3.7)
CSE111
3.3
PHY111
3.7

In [ ]:
#Accessing Elements & Slicing

#allows both postive and negative indexing

departments = ('CSE', 'EEE', 'BBA', 'ENH', 'ESS')
print(departments[-1])
print(departments[1])
print(departments[2:4])

ESS
EEE
('BBA', 'ENH')

In [ ]:
#Nested Tuples

name_id = (('Rowling', 1234), ('Brown', 2345), ['Hermione', 101])
name_id[2][0] = 1000
print(name_id[0][0])
print(name_id[0][1])

#you can update elements of any mutable element from a tuple
name_id[2][1] = 1111
print(name_id)

Rowling
1234
(('Rowling', 1234), ('Brown', 2345), [1000, 1111])

In [ ]:
#Mutability

#tuples are immutable

#departments = ('CSE', 'EEE', 'BBA', 'ENH', 'ESS')
#departments[1] = 'ARC' #error

In [ ]:
#Conacatenation

#using + operator

tup1 = (1,2,3)
tup2 = (5,8,9)
tup3 = tup1 + tup2 # a brand new tuple!!
print(tup3)

(1, 2, 3, 5, 8, 9)

In [ ]:
#Deletion

#can't delete any element
tup1 = (1,2,3)
#del tup1 [0] #error
del tup1
#print(tup1)

In [ ]:
#tuple to list conversion
list1 = [1,2,3]
tup1 = tuple(list1)
print(tup1)

#list to tuple
tup2 = (2,3,4)
list2 = list(tup2)
print(list2)

(1, 2, 3)
[2, 3, 4]

In [ ]:
#Repetion

print(("Class Shesh",) * 10)

('Class Shesh', 'Class Shesh', 'Class Shesh', 'Class Shesh', 'Class Shesh', 'Class Shesh', 'Class Shesh', 'Class Shesh', 'Class Shesh', 'Class Shesh')