<a href="https://colab.research.google.com/github/Mashrur001/CSE110/blob/main/ASSIGNMENT_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task01(a)
for i in range(24,-7,-6):

  if i==-6:
    print(i)
  else:
    print(i,end=",")

24,18,12,6,0,-6

In [ ]:
#Task01(b)
for i in range(-10,21,5):

  if i==20:
    print(i)
  else:
    print(i,end=",")

-10,-5,0,5,10,15,20

In [ ]:
#Task01(c)
for i in range(18,64,9):

  if i==63:
    print(i)
  else:
    print(i,end=",")

18,27,36,45,54,63

In [ ]:
#Task01(d)
for i in range(18,64,9):

  if i%2==0:
    print(i,end=",")
  elif i==63:
    print(i*-1)
  else:
    print(-1*i,end=",")

18,-27,36,-45,54,-63

In [ ]:
#Task02
car=input("Enter the car name: ")
number=int(input("Enter the number: "))

for i in range(number):
  print(car)

Enter the car name: Toyota
Enter the number: 2
Toyota
Toyota

In [ ]:
#Task03
sum=0
for i in range(7,601,1):
  if i%7==0 and i%9==0:
   sum=sum+i
print(sum)

2835

In [ ]:
#Task04
sum=0
for i in range(7,601,1):
  if (i%7==0 and i%9!=0) or (i%7!=0 and i%9==0):
   sum=sum+i
print(sum)

39814

In [ ]:
#Task05
for i in range(10,51,1):
 if i%2!=0:
  print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
#Task06
n=int(input("Enter the number: "))
sum=0
for y in range(n+1):
 if y%2==0:
   sum-=(y**2)
 else:
   sum+=(y**2)
print(sum)

Enter the number: 20
-210

In [ ]:
#Task07
sum=0
counter=0

for i in range(10):
  n=int(input(""))
  if i%2!=0:
    sum=sum+i
    counter=counter+1
print("The total of the odd numbers is",sum,"and their average is",(sum/counter))

1
2
3
4
5
6
7
8
9
10
The total of the odd numbers is 25 and their average is 5.0

In [ ]:
#Task08
N=int(input("Enter the number: "))
sum=0
for i in range(1,N+1,1):
  if i%7==0:
   sum=sum+i
print(sum)

Enter the number: 50
196

In [ ]:
#Task09
sum=0

for i in range(5):
  n=int(input("Enter number: "))
  sum=sum+n
  print(sum)

Enter number: 2
2
Enter number: 3
5
Enter number: 4
9
Enter number: 5
14
Enter number: 6
20

In [ ]:
#Task10
num=int(input("Enter the number: "))

while num!=0:
  remain=num%10
  num=num//10
  if num==0:
    print(remain,end="")
  else:
    print(remain,end=",")

Enter the number: 32768
8,6,7,2,3

In [ ]:
#Task11
num = 3452
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Number of digits: 4

In [ ]:
#Task13
n=int(input("Enter the number: "))
count=0
for i in range(1,n+1):
  if n%i==0 and n>0:
    print(i)
    count=count+1
print("Total",count,"divisior")

Enter the number: 6
1
2
3
6
Total 4 division

In [ ]:
#Task14
n=int(input("Enter the number: "))
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
if sum==n:
  print(n,"is a perfect number.")
else:
  print(n,"is not a perfect number.")

Enter the number: 6
6 is a perfect number.

In [ ]:
#Task15
n=int(input(""))
div_count=0
for i in range(1,n+1):
  if n%i==0:
    div_count=div_count+1
if div_count==2:
  print(n,"is a prime number")
else:
  print(n,"is not a prime number")

11
11 is a prime number

In [ ]:
#Task16
a=int(input(""))
sum=0

for i in range(a):
  b=int(input(""))

  if i==0:
    max1=b
    min1=b
  if max1<b:
    max1=b
  if min1>b:
    min1=b
  sum=sum+b

print("Maximum",max1)
print("Minimum",min1)
print("Average is",sum/a)

3
-3
-5
-7
Maximum -3
Minimum -7
Average is -5.0

In [ ]:
#Task17
n=int(input("Please enter the number: "))
for i in range(n):
  for i in range(n):
   print("+",end="")
  print()

Please enter the number: 5
+++++
+++++
+++++
+++++
+++++

In [ ]:
#Task19
m=int(input(""))
n=int(input(""))

for i in range(m):
  for j in range(1,n+1):
   print(i,end="")
  print()

4
6
123456
123456
123456
123456

In [ ]:
#Task20
n=int(input("Enter the value: "))
for i in range(n):
  for j in range(1,n+1):
    print(i,end="")
  print()

Enter the value: 4
1234
1234
1234
1234

In [ ]:
#Task25
n=int(input(""))
sum=0

for i in range(0,n+1,1):
  if i==n:
    print(i)
  else:
    sum=sum+i
    print(sum)

In [ ]:
#Practice Task

for i in range (5):
  for j in range (i):
    print ("$",end=" ")
  print ("*")
for i in range (6):
  for j in range (5-i):
    print("$",end=" ")
  print("*")

*
$ *
$ $ *
$ $ $ *
$ $ $ $ *
$ $ $ $ $ *
$ $ $ $ *
$ $ $ *
$ $ *
$ *
*